{% extends 'index.html' %}
{% block content %}
<section id="aca" class="padd-section text-center">
    <div style="margin-bottom: 100px;">
        <div style="font-size: 3em; width: 80%; margin: auto; border-bottom: 1px solid gray; padding: 10px 0;" class="set_font_L">참고문헌</div>
    </div>
    <table class="table" style="width: 80%; margin: auto;">
        <thead class="thead-dark">
        <tr>
            <th scope="col">데이터명</th>
            <th scope="col">주요 제공정보</th>
            <th scope="col">출처</th>
            <th scope="col">기준시점</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Prevalence of overweight.csv</td>
            <td>국가별 과체중율(연속형 데이터)</td>
            <td>WHO</td>
            <td>2016년도</td>
        </tr>
        <tr>
            <td>The World Happiness Report</td>
            <td>국가별 행복지수(연속형 데이터)</td>
            <td>UN-SDSN(UN지속가능발전해법네트워크)</td>
            <td>2016년도</td>
        </tr>
        <tr>
            <td>대한민국행복지도_국민행복지수.xls</td>
            <td>지역별 국민행복지수(범주형 데이터)</td>
            <td>국회미래연구원</td>
            <td>2017년~2019년도</td>
        </tr>
        <tr>
            <td>대한민국행복지도_행복역량지수.xls</td>
            <td>지역별 행복역량지수(연속형 데이터)</td>
            <td>국회미래연구원</td>
            <td>2017년~2019년도</td>
        </tr>
        <tr>
            <td>대한민국행복지도_삶의만족도.xls</td>
            <td>지역별 삶의 만족도(연속형 데이터)</td>
            <td>카카오같이가치(나의 안녕지수)</td>
            <td>2018년도</td>
        </tr>
        </tbody>
    </table>
</section>
{% endblock %}

