{% extends 'index.html' %}
{% block content %}
<section id="aca" class="padd-section text-center"></section>
  <div class="jumbotron jumbotron-fluid" style="padding: 36px;">
    <div class="container">
      <div class="col-md-8" style="display:inline-grid;">
        <h1 class="display-4 set_font_B">여러 지수의 상관관계 첫번째</h1>
        <p class="lead set_font_L" style="margin:0px;">행복지수와 다른 지수간의 상관관계 조사 첫번째</p>
      </div>
      <div class="col-md-3" style="display:inline-block;"><img src="{{url_for('static', filename='img/main/jo.png')}}" style="width: 181px;"></div>
    </div>
  </div>

  <div class="card" style="width:80%; margin:auto;">
    <div class="card-body" style="text-align:left;">
      처음 받은 데이터셋의 샘플들과 기존에 궁금했던 출산율, 실업률, 사망률, 인구증감률, 영아 분포율 등등을 기존 데이터셋과 합쳐 상관관계가 있는 항목을 찾고자 하였다.<br/>
      <br/>
      가장 처음 받은 샘플은<br/>
       year,	country,	region,	happiness_rank,	happiness_score,	standard_error,	economy,	family,	health,	freedom,	trust,<br/>
      generosity,	dystopia_residual,	lower_confidence_interval,	Upper_confidence_interval,	whisker_high,	whisker_low,	social_support <br/>
      이었다.
    </div>
  </div>

  <section id="etc1_1" class="about-us padd-section">
    <div>
      <div style="font-size: 3em; width: 80%; margin: auto; border-bottom: 1px solid gray; padding: 10px 0;" class="set_font_L">상관관계 분석</div>
      <div style="width: 80%; margin: auto; padding: 10px 0;">다양한 요소들 중 행복지수와 상관관계가 높은 요소가 무엇인지 판단</div>
    </div>
    <div style="margin: auto; padding-top: 40px; width: 80%;" data-aos="fade-up">
      <p style='margin: 10px; padding-bottom: 30px; font-size: 1rem; font-weight: 400; line-height: 1.5;' class="set_font_L">
        1. 행복지수의 분포 확인
      </p>
    </div>
    <div class='text-center' style="margin:15px;" data-aos="fade-up">
      <img src="{{url_for('static', filename='img/etc1/happiness_score_hist.png')}}" class="container-md" style='width:40%;'>
    </div>
  </section>

  <section id="etc1_2" class="about-us padd-section" style="padding-top: 0;">
    <div style="margin: auto; width: 80%;" data-aos="fade-up">
      <p style='margin: 10px; padding-bottom: 30px; font-size: 1rem; font-weight: 400; line-height: 1.5;' class="set_font_L">
        2. 행복지수와 상관계수가 높은 항목 확인
      </p>
      <img src="{{url_for('static', filename='img/etc1/df1.png')}}" class="container-md" style="width: 25%; padding: 0 7px;">
      <img src="{{url_for('static', filename='img/etc1/df2.png')}}" class="container-md" style="width: 25%; padding: 0 7px;">
      <p style='margin: 10px; font-size: 1rem; font-weight: 400; line-height: 1.5; width: 40%; display: inline-block;'>
        economy, family, health, social_support, crude_birth_rate 항목이 상관관계가 있을것으로 추정된다.
      </p>
    </div>
  </section>

  <section id="etc1_3" class="about-us padd-section" style="padding-top: 0;">
    <div style="margin: auto; width: 80%;" data-aos="fade-up">
      <p style='margin: 10px; padding-bottom: 30px; font-size: 1rem; font-weight: 400; line-height: 1.5;' class="set_font_L">
        3. economy, family, health, social_support 4가지 샘플의 분포도
      </p>
      <div style="margin: auto; text-align: center;">
        <img src="{{url_for('static', filename='img/etc1/distsamples01.png')}}" class="container-md" style="width: 45%; padding: 0 7px;">
        <p style='margin: 10px; display: inline-block; border-top: 1px dashed gray; padding: 10px; border-bottom: 1px dashed gray; font-size: 1rem; font-weight: 400; line-height: 1.5;'>
          <span style="font-weight:bold;">economy, family, health, social_support, crude_birth_rate</span> 항목이 상관관계가 있을것으로 추정된다.
        </p>
      </div>
    </div>
  </section>

  <section id="etc1_4" class="about-us padd-section" style="padding-top: 0;">
    <div style="margin: auto; width: 80%;" data-aos="fade-up">
      <p style='margin: 10px; padding-bottom: 30px; font-size: 1rem; font-weight: 400; line-height: 1.5;' class="set_font_L">
        3. crude_birth_rate(출산율)의 분포도
      </p>
      <div style="margin: auto; text-align: center;">
        <img src="{{url_for('static', filename='img/etc1/distsamples02.png')}}" class="container-md" style="width: 45%; padding: 0 7px;">
        <div style='text-align: left;'>
          <p style='margin: 10px; display: inline-block; padding: 10px; font-size: 1rem; font-weight: 400; line-height: 1.5;'>
            봉우리가 2가지인 것을 알 수 있다.
          </p><br/>
          <div style="font-weight: bold; border-bottom: 1px double red; margin-left: 2%; display: inline-block;">
            이것은 경제적으로 잘 사는 나라와 아닌 나라 두가지로 나뉘어 있는 탓이다.
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="etc1_5" class="about-us padd-section" style="padding-top: 0;">
    <div style="margin: auto; width: 80%;" data-aos="fade-up">
      <p style='margin: 10px; padding-bottom: 30px; font-size: 1rem; font-weight: 400; line-height: 1.5;' class="set_font_L">
        4. JOINTPLOT - economy, crude_birth_rate
      </p>
      <div style="margin: auto; text-align: center;">
        <img src="{{url_for('static', filename='img/etc1/jointplot01.png')}}" class="container-md" style="width: 45%; padding: 0 7px;">
        <div style='text-align: left;'>
          <p style='margin: 10px; display: inline-block; padding: 10px; font-size: 1rem; font-weight: 400; line-height: 1.5;'>
            Birth rate와 economy간에는 음의 상관관계가 있는것이 확인 된다.
          </p><br/>
          <div style="font-weight: bold; border-bottom: 1px double red; margin-left: 2%; display: inline-block;">
            특히 2개의 봉우리는 경제적차이에 따른 차이임을 확인할 수 있었다.
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="etc1_6" class="about-us padd-section" style="padding-top: 0;">
    <div style="margin: auto; width: 80%;" data-aos="fade-up">
      <p style='margin: 10px; padding-bottom: 30px; font-size: 1rem; font-weight: 400; line-height: 1.5;' class="set_font_L">
        5. 대륙별, 소득별(저,중저,중고,고) 행복지수
      </p>
      <div style="margin: auto; text-align: center;">
        <img src="{{url_for('static', filename='img/etc1/distsamples03.png')}}" class="container-md" style="width: 60%; padding: 0 7px;">
        <div style='text-align: left;'>
          <p style='margin: 10px; display: inline-block; padding: 10px; font-size: 1rem; font-weight: 400; line-height: 1.5;'>
            대륙별 행복도가 정규분포를 따르는지를 확인해보고자 했다. 대륙별로 다양한 특징을 지닌것을 확인할 수 있었다.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="etc1_7" class="about-us padd-section" style="padding-top: 0;">
    <div style="margin: auto; width: 80%;" data-aos="fade-up">
      <p style='margin: 10px; padding-bottom: 30px; font-size: 1rem; font-weight: 400; line-height: 1.5;' class="set_font_L">
        6. BOXPLOT
      </p>
      <div style="margin: auto; text-align: center;">
        <img src="{{url_for('static', filename='img/etc1/boxplot.png')}}" class="container-md" style="width: 60%; padding: 0 7px;">
      </div>
    </div>
  </section>

  <section id="etc1_8" class="about-us padd-section" style="padding-top: 0;">
    <div style="margin: auto; width: 80%;" data-aos="fade-up">
      <p style='margin: 10px; padding-bottom: 30px; font-size: 1rem; font-weight: 400; line-height: 1.5;' class="set_font_L">
        7. PAIRPLOT
      </p>
      <div style="margin: auto; text-align: center;">
        <img src="{{url_for('static', filename='img/etc1/pairplot.png')}}" class="container-md" style="width: 60%; padding: 0 7px;">
        <div style='text-align: left;'>
          <p style='margin: 10px; display: inline-block; padding: 10px; font-size: 1rem; font-weight: 400; line-height: 1.5;'>
            대륙별 차이가 명백히 있지만 거짓상관인듯하여 경제적인 요소로 layer를 다시 나누어서 평가해 보았다.<br/>
            소득별 차이를 볼 수있다. <br/>
            특히 IncomeGroup/happiness_score와 happiness_score/economy, crude_birth_rate/happiness_score를 주의깊게 보면 모두 직선적 상관관계가 강하게 보인다.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="etc2_9" class="about-us padd-section" style="padding-top: 0; margin-bottom: 150px;">
    <div>
      <div style="font-size: 3em; width: 80%; margin: auto; border-bottom: 1px solid gray; padding: 10px 0;" class="set_font_L">결론</div>
    </div>
    <div style="margin: auto; width: 80%;" data-aos="fade-up">
      </p>
      <div style="margin: auto; text-align: center;">
        <div class="card" style="width:95%; margin:auto; background-color: #ebfbff;">
          <div class="card-body" style="text-align:left;">
            economy, family, health, social_support, crude_birth_rate는 행복도와 강한 상관관계가 있는것으로 결론
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
</section>
{% endblock %}

