<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Happiness</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for('static', filename='img/icon.png')}}" rel="icon">
  <link href="{{url_for('static', filename='img/icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
  <link href="" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/owl.carousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/aos/aos.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/custom_style.css')}}" rel="stylesheet">

  <script src='https://code.jquery.com/jquery-3.5.1.min.js'></script>

  <!-- =======================================================
  * Template Name: eStartup - v2.1.0
  * Template URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="{{ url_for('go_main')}}"><span>H</span>appiness</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="../assets/img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="{{ url_for('go_main')}}">행복하고싶조</a></li>
          <!-- <li><a href="#about-us">About</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#screenshots">Screenshots</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li><a href="#blog">Blog</a></li>
          <li><a href="#contact">Contact</a></li> -->
          <li class="menu-has-children"><a href="" style='pointer-events: none;'>행복 분석</a>
            <ul>
              <li><a href="{{url_for('go_ov')}}">Over Weight</a></li>
              <li><a href="{{ url_for('go_aca')}}">아카지수</a></li>
              <li><a href="{{url_for('go_etc_1')}}">ETC 1</a></li>
              <li><a href="{{ url_for('go_etc_2')}}">ETC 2</a></li>
              <li><a href="{{ url_for('go_khl')}}">행복연구소</a></li>
            </ul>
          </li>
          <li><a href="{{ url_for('go_chk_hn')}}">나의 행복도는?</a></li>
          <li><a href="{{ url_for('go_source')}}">자료출처</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->
  
  {% block content %}
  {% endblock %}

  <!-- ======= Footer ======= -->
  <footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-4">
          <div class="footer-logo">

            <a class="navbar-brand" href="#">Happiness</a>
            <p>The talent for being happy is appreciating and liking what you have, instead of what you don’t have.</p>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Song<br/>yun young</h4>

            <ul class="list-unstyled">
              <li><a href="#">Captain</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Kim<br/>yeong don</h4>

            <ul class="list-unstyled">
              <li><a href="#">Executive</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Lee<br/>sang woo</h4>

            <ul class="list-unstyled">
              <li><a href="#">Crossbeam</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Park<br/>ji yeon</h4>

            <ul class="list-unstyled">
              <li><a href="#">Engineer</a></li>
            </ul>

          </div>
        </div>

      </div>
    </div>

    <div class="copyrights">
      <div class="container">
        <p>&copy; Copyrights Happiness. All rights reserved.</p>
        <div class="credits">
          <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eStartup
        -->
          Designed by <a href="#">Park ji yeon</a>
        </div>
      </div>
    </div>

  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/jquery.easing/jquery.easing.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/php-email-form/validate.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/modal-video/js/modal-video.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/owl.carousel/owl.carousel.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/superfish/superfish.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/hoverIntent/hoverIntent.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/aos/aos.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static', filename='js/main.js')}}"></script>
  <script src="{{url_for('static', filename='js/comm.js')}}"></script>

</body>

</html>