body { background-color: white; }
body,td,tr,input,div,form,textarea 
{
	font-family:"±¼¸²", sans-serif; 
	font-size:10pt; 
	color:#000000; 
	line-height:150%; 
}

img
{
	border: none;
}

p#validator
{
	text-align: right;
}

a		
{
	color:#000000;
	font-weight:normal;
}
a:link,a:visited,a:active
{
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
	color:#0000AA;
}
a.footer:link, a.footer:visited, a.footer:active, a.footer:hover
{
	color:gray;
}

div.header
{
	padding-top:0pt;
	padding-left:2pt;
	padding-bottom:2pt;
}

div.title
{
	border-bottom:1px solid black;
	font-family: "Dotum", sans-serif;
	font-weight: bold;
	font-size:13pt;
	margin:2pt;
}

div.content
{
	margin:15pt;
}

div.totalAndFreeSpace
{
	color:gray;
	margin:15pt;
}

div.uploadForm
{
	margin:15pt;
}

div.skinSelectionForm
{
	margin:15pt;
}

div.footer
{
	border-top:1px solid black;
	color:gray;
	font-family:"Tahoma", sans-serif;
	font-size:8pt;
	margin-top:30pt;
	padding:6pt;
	padding-top:10pt;	
	line-height:0px;
}

table.sortable tr td
{
	border-bottom: 1px solid #eee;
}

table.sortable th
{
	background-color: ButtonFace;
	border-top: 1px solid white;;
	border-left: 1px solid white;
	border-right: 1px solid #666;
	border-bottom: 1px solid #999;
	border-color:	ButtonHighlight ButtonShadow
					ButtonShadow ButtonHighlight;
	text-align: left;
	padding:		2px 5px;
}

table.sortable th.sortheader {
	cursor: pointer;
}

table.sortable th:active, table.sortable th.pushed
{
	border-color:	ButtonShadow ButtonHighlight
					ButtonHighlight ButtonShadow;
	padding:		3px 4px 1px 6px;
}

table.sortable th[_sortType=None]:active, table.sortable th[_sortType=None].released {
	border-color:	ButtonHighlight ButtonShadow
					ButtonShadow ButtonHighlight;
	padding:		2px 5px;
}

table.sortable
{
	border-spacing: 0;
	width: 96%;
	margin: 0 auto;
	background:	Window;
	color:		WindowText;
	margin-top: 5px;
}

table.sortable span.sortarrow
{
    color: black;
    text-decoration: none;
}

col.checkbox
{
	width: 24px;
}

col.icon
{
	width: 30px;
}

col.filesize
{
	width: 120px;
}

td.filename
{
	padding: 2px 10px;
}

td.filesize,td.filedate
{
	font-size:9pt;
	width: 200px;
	text-align: right;
	padding: 2px 10px;
}

td.filesize, th.filesize { width: 120px; }
td.filedate, th.filedate { width: 150px; }

td.checkbox
{
	text-align: center;
}

td.icon
{
	text-align: center;
}

input.button
{
	font-size:9pt;
	BACKGROUND-COLOR: #DDDDDD;
	COLOR:#444444;
	border-top:#EEEEEE 1px solid;
	border-left:#EEEEEE 1px solid;
	border-right:#BBBBBB 1px solid;
	border-bottom:#BBBBBB 1px solid;
	height:15pt;
}

input.text
{
	font-size:9pt;
	BACKGROUND-COLOR: #FFFFFF;
	COLOR:#665555;
	border-top:#999999 1px solid;
	border-left:#999999 1px solid;
	border-right:#CCCCCC 1px solid;
	border-bottom:#CCCCCC 1px solid;
	height:15pt;
}

span.sort-arrow {
	width:					11px;
	height:					11px;
	background-position:	center center;
	background-repeat:		no-repeat;
	margin:					0 0 0 1em;
}

span.descending {
	background-image:		url("/sortable/downsimple.png?action=SkinFile");

}

span.ascending {
	background-image:		url("/sortable/upsimple.png?action=SkinFile");
}

span.subdirTop {
	padding-right: 2pt;
	padding-left: 2pt;
	font-weight:bold;
	font-size:100%;
	line-height: 100%
}

span.subdirTop a {
	font-weight:bold;
}
